<!DOCTYPE html>
<html>
  <head>
  <title>Come Together</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- import our CSS modules -->
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <!-- import our JS modules -->
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/introHCI.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        width: 700px;
        max-width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 100;
        padding: 100;
      }
    </style>
  </head>
  <body>
  <div class="container">
    <div class="jumbotron">
      <h1>Come Together</h1>
      <p>Insert description of platform</p>
    </div>
    
<div id="map" style="width:100%;height:500px"></div>

<script>
function myMap() {
  var myCenter = new google.maps.LatLng(32.88,-117.24);
  var marker = new google.maps.Marker({position:myCenter});
  var myLatlng2 = new google.maps.LatLng(32.899696,-117.225666);

  var marker2 = new google.maps.Marker({
    position: myLatlng2,
  });
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 11};
  var map = new google.maps.Map(mapCanvas,mapOptions);

  var myCity = new google.maps.Circle({
    center: myCenter,
    radius: 15000,
    strokeColor: "#0000FF",
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: "#0000FF",
    fillOpacity: 0.2,
  });
  myCity.setMap(map);
  marker.setMap(map);
  marker2.setMap(map);
}
</script>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRVRC24AQ-lrsvtsXe4OFs0WwrSYY6Di8&callback=myMap"></script>

  </body>
</html>