<!doctype html>

<!-- TODO: Figure out how to import this, and if possible, the <head> portion as well -->

<html>
<template>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<!-- If on a mobile device, it will be a button
				If on a desktop, it will be a bar at the top -->
			<div class="navbar-header">

				<!-- Add a navbar button that is by default collapsed -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarButton">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Come Together</a>
			</div>

			<!-- Add options to the navbar through list -->
			<div class="collapse navbar-collapse" id="navbarButton">
				<ul class="nav navbar-nav">
					<!--
					<li>
						<a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
					</li>
					<li>
						<a href="#"><span class="glyphicon glyphicon-leaf"></span> About Us</a>
					</li>
					-->
					<li>
						<a href="#"><span class="glyphicon glyphicon-globe"></span> Discover</a>
					</li>
					<li>
						<a href="#"><span class="glyphicon glyphicon-leaf"></span> Create a Project</a>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
					</li>

					<li>
						<a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a>
					</li>
					<li>
						<a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a>
					</li>
				</ul>

				<!-- Add the search bar to the navbar -->
				<form class="navbar-form" role="search">
					<div class="form-group-sm" id="mySearchBar">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search Projects">
							<span class="input-group-btn">
								<button class="btn btn-success btn-sm">Search!</button>
							</span>
						</div>
					</div>
				</form>

			</div>
		</div>
	</nav>
	<p style="margin-bottom:55px;"/></p>
</template>
</html>
