<!doctype html>

<html>
<head>
	<title>Come Together</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<!-- import our CSS modules -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/comeTogether.css" rel="stylesheet">
</head>

<body>
	<header class="container">
		<h2>Header</h2>
		<!-- Add Navbar component to display navigation items -->
		<nav class="navbar navbar-inverse container-fluid navbar-fixed-top">
			<div>
				<!-- Brand and toggle get grouped for better mobile display -->
				<!-- If on a mobile device, it will be a button
					If on a desktop, it will be a bar at the top -->
				<div class="navbar-header">
					<!-- Add a navbar button that is by default collapsed -->
					<button type="button" class="navbar-toggle colapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="http://google.com">App Title w/link</a>
				</div>

				<!-- Add options to the navbar through list -->
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="index.handlebars">
								<span class="glyphicon glyphicon-home"></span>
								Home
							</a>
						</li>
						<li>
							<a href="#">
								<span class="glyphicon glyphicon-asterisk"></span>
								About Us
							</a>
						</li>
					</ul>

					<!-- Add the search bar to the navbar -->
					<form class="navbar-form" role="search">
						<div class="form-group-sm">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search Projects">
								<span class="input-group-btn">
									<button class="btn btn-success btn-sm">Search!</button>
								</span>
							</div>
						</div>
					</form>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">
								<span class="glyphicon glyphicon-log-in"></span>
								Login
							</a>
						<li>

						<li>
							<a href="#">
								<span class="glyphicon glyphicon-user"></span>
								Register
							</a>
						<li>
					</ul>

				</div>
			</div>
		</nav>

	</header>

	<!-- bar right under the header -->
	<section class="container">
		<div class="row">
			<div class="col-sm-3 leftNav">
				Left Navigation
			</div>
			<div class="col-sm-6 content">
				Content Area
			</div>
			<div class="col-sm-3 relatedContent">
				Related content
			</div>
		</div>
	</section>

	<footer class="container">
		<h2>Footer</h2>
	</footer>


	<!-- load our scripts -->
	<script src="/js/jquery-1.11.9.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/comeTogether.js"></script>
</body>
</html>
