<!doctype html>

<html>
<head>
	<title>Come Together</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<!-- import our CSS modules -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/comeTogether.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<!-- Big block at the top of the page -->
		<div class="jumbotron text-center">
			<h1>Come Together</h1>
			<p>Insert clever description of platform</p>
		</div>

		<!-- Add buttons that allow you to toggle between different content on the home screen -->
		<div class="contentButtons">
			<button id="button_highlights" class="btn btn-primary btn-lg">Past Highlights</button>
			<button id="button_trending" class="btn btn-primary btn-lg">Trending Projects</button>
			<hr>
		</div>

		<!-- Add the sample projects here -->
		{{#each highlightProjects}}
			<div class="highlightProject">
				<img src="{{imageURL}}" class="img-responsive img-rounded">
				<h3><a href="project/{{name}}" class="projectName">{{name}}</a></h3>
				<p class="projectShortDesc">{{shortDescription}}</p>
				<hr>
			</div>
		{{/each}}

		<!-- Add Start Your Journey Button -->
		<div class="start">
			<hr>
			<!-- button id="button_start" class="btn btn-primary btn-lg">Start Your Journey</button -->
			<!-- Make it a hyperlink for now, MUST CHANGE -->
			<h2><a href="start/">Start Your Journey</a></h2>
			<p> </p>
			<p> </p>
			<p> </p>
		</div>

	<!-- load our scripts -->
	<script src="/js/jquery-3.1.1.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/comeTogether.js"></script>
</body>
</html>
