<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

    <title>Smart Album</title>

	<link href="css/bootstrap.css" rel="stylesheet"></link>
	<link href="css/bootstrap-theme" rel="stylesheet"></link>
	<link href="css/smartalbum.css" rel="stylesheet"></link>
	<link href="css/lightgallery.css" rel="stylesheet"></link>
</head>
<body>

<div class="container">
	

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 align="center">Create Account</h2>
			</div>
		</div>
	</div>

	<div class = "container row vertical-center">
		<div class = "col-xs-12">
			<form>
				<div class = "form-group">
					<label font-weight="200">Email</label>
					<input type="Email" name="loginEmail" placeholder="Enter Email">
				</div>
				<div class = "form-group">
					<label>Password</label>
					<input type="Password" name="loginEmail" placeholder="Enter password">
				</div>
			</form>	
		</div>
	
		<div class = "col-xs-12">
			<div align="center">
				<a href="permissions">
				<button type="button" class="btn btn-default btn-lg topPadding">Next</button>
				</a>
			</div>
		</div>
	</div>	

</div>

</body>
</html>