<!doctype html>
<!-- This is the page where the project is displayed -->
<html>
<head>
	<title>Insert Project Name</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- import our CSS modules -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/comeTogether.css" rel="stylesheet">
</head>

<body>
	<!-- this is a comment in HTML -->
	<div class="container">
		<div class="jumbotron">
				<h1>{{projectName}}</h1>
				<p>{{projectShortDesc}}</p>
		</div>
		
		<div class="project">
			<img src="{{projectImgUrl}}" class="img-responsive img-rounded">
			<p class="projectDesc">{{projectDesc}}</p>
			<hr>
		</div>


	<p><a href="/">Back &raquo;</a></p>

	<!-- load our scripts -->
	<script src="/js/jquery-1.11.9.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/comeTogether.js"></script>
</body>
</html>