<!doctype html>
<!-- This is the page where the project is displayed -->
<html>
	<head>
		<title>Insert Project Name</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- import our CSS modules -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/introHCI.css" rel="stylesheet">
		<!-- import our JS modules -->
		<script src="/js/bootstrap.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/introHCI.js"></script>
	</head>
</html>