<!doctype html>

<html>
<head>
	<title>Come Together</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- import our CSS modules -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/comeTogether.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Start Screen</h1>
		</div>

		<!-- Add buttons that allow you to toggle between different content on the home screen -->
		<div class="contentButtons">
			<button id="button_find" class="btn btn-primary btn-lg">Find Projects</button>
			<hr>
			<button id="button_create" class="btn btn-primary btn-lg">Create a Project</button>
			<hr>
		</div>

		<h4><a href="about/">About Us</a></h4>
		<h4><a href="faq/">FAQ</a></h4>
	</div>

	<!-- load our scripts -->
	<script src="/js/jquery-1.11.9.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/comeTogether.js"></script>
</body>