/* 
 * CSS module used for the changing general things across the app. 
 */

/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}


.jumbotron:after {
     content:"";
     background: url("/images/jumbotron_garden1.jpg");
     opacity: 0.35;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}


.jumbotron p {
     color: #6e6e6e;
}

/* Use this to manipulate the start button */
.start {
     margin: auto;
     width: %20;
     
}


body {
   /*background-color: #E9FFE6; */
   background-color: #F0FEFF; 
}

/***** Josh's Tab Code *****/
/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: lightblue;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: lightblue;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}