/* 
 * CSS module used for the changing Discover page format. 
 */

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  width: 700px;
  max-width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 100;
  padding: 100;
}