/* 
 * CSS module used for the changing Discover page format. 
 */

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  width: 700px;
  max-width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 100;
  padding: 100;
}
#floating-panel {
  position: left;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: left;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  width: 320px;
}

#submit {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  background-repeat: repeat-x;
  border-color: transparent;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: white;
  width: 100px;
}

#submit:hover,
#submit:focus {
  background-color: #419641;
  background-position: 10 -15px;

}

#submit:active,
#submit.active {
  background-color: #419641;
  border-color: #3e8f3e;
}
#submit:active,
#submit.active {
  background-color: #419641;
  border-color: #3e8f3e;
}