/* 
 * CSS module used for the changing Footer format across the app. 
 */

footer {
	width: 100%;
	background-color: #222;
	padding: 40px 20px;
}

footer nav {
	float: left;
	margin-top: -10px;
}

footer nav ul {
	margin: 0px;
	padding-left: 0px;
}

footer nav ul li {
	display: inline-block;
	margin-left: 20px;
	list-style: none;
}

footer nav ul li a {
    font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #fff;
}