/* Everything related to the navbar format across the app */

.navbar li a, .navbar .navbar-brand {
     color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
     color: #008000 !important;
     background-color: #fff !important;
}
.navbar-default .navbar-toggle {
     border-color: transparent;
     color: #fff !important;
}

#mySearchBar {
     display: block;
     /*margin-left: 350px;
     margin-right: 350px; */
     /*max-width: 800px;*/
     /*min-width: 300px;*/
}