.container {
	
	width: 450px;
}

.form-control {

	width: 300px;
}

h2 {
	margin-top: 20%;
	font-family: 'Amiri', serif;
	
}

hr {
	width: 100%;
	border-top: 1px solid black;
}

html {
	height: 100%;
}
