body {
	font-family: 'Amiri', serif;
	color: white;
}

#content {

	text-align: center;
	margin-top: 250px;
	text-shadow: 0 2px 3px rgba(0, 0, 0, .8);
}

html {
	height: 100%;
}


hr {
	width: 400px;
	border-top: 1px solid white;

}


