.bottomButton {
	position: fixed;
	bottom: 0;
	height: 5%;
}

#voice {
	position: fixed;
	bottom: 0;
	margin-bottom: 20px;
}

#share {
	position: fixed;
	bottom: 0;
	margin-bottom: 20px;
}


.topPadding {
	margin-top: 20px;
}


.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.permissions-btn:focus {
	background: #3DFF51;
}

#shareModal {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

#filterModal {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

.showItem {
	display: list-item;
}

.hideItem {
	display: none;
}
